html{
    height: 100vh;
    background-color: #f5f5dc;
}
body{
    margin-top: 0 auto;
}
.table {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

form p {
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: transparent; 
    color: #333; 
    border: 1px solid #ccc; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

form input[type="submit"]:hover {
    background-color: #ccc; 
    color: #fff;
}