{% extends 'blog/layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='post.css') }}">
<link rel="stylesheet" href="{{ url_for('blog.static', filename='page.css') }}">
{% for post in posts.items %}
<div class="post" id="main_post">
    <div class="post-title">
        <h1><a class="main_title" href="{{ url_for('blog.detail', post_id=post.id) }}">{{ post.title | truncate(30)}}</a></h1>
    </div>
</div>
{% endfor %}
<div class="pagination">
    <ul>
        <!-- 이전 페이지 -->
        {% if posts.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">이전</span>
        </li>
        {% endif %}
        
        <!-- 페이지 번호 -->
        {% for page_num in posts.iter_pages() %}
        {% if page_num %}
        {% if page_num == posts.page %}
        <li class="page-item active">
            <span class="page-link">{{ page_num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        {% endif %}
        {% endfor %}
        
        <!-- 다음 페이지 -->
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">다음</span>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
