/* edit_user.css */

/* 스타일링을 위한 기본 설정 */
html {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
}

body {
    margin: 0;
}

/* 폼 스타일링 */
.table {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

p {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    width: calc(50% - 5px); /* 폭을 반으로 나누고 여백을 조절 */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #ccc;
    color: #fff;
}

#deleteButton {
    background-color: #ff6347; /* 빨간색 */
    color: #fff;
    margin-top: 10px;
}

#deleteButton:hover {
    background-color: #d32f2f; /* 더 진한 빨간색 */
}
